
#steph-avatar{
    height: auto;
    width: 175px;
    padding-left: 5px;
    margin-top: 95px;
}
.nav-link{
    /*border: 1px dotted black;*/
    text-align: center;
    font-size: small;
    /*text-shadow: #cdaaac 1px 1px 1px;*/

}
.nav>a:link, .nav>a:visited {
    color: black;
    padding-left: 15px;
    padding-right: 15px;
    margin: 0px;
}
.nav-pills > .nav-link.active{
    background-color: transparent;
    box-shadow:  1px 1px 3px 3px #cdaaac;
    color: black;
}
#aside{
    margin-left: 25px;
    width: 275px;
    height: 95vh;
    alignment: left;
    background-color: #feddde;
    box-shadow: inset 2px 2px white, 2px 2px black;

}


.navbar-brand{

}
/*************************SPLASHDOWN****************************/
/*GIF CREDIT SASHAKATZ ON TUMBLR*****Sashakatz.tumblr.com*/
.landing {
    background-image: url(../assets/pc-floral.gif);
    padding-top: 70vh;
}

.landing, .landing-2{
    background-repeat: no-repeat;
    /*background-position: top;*/
    background-color: #feddde;
    height: 100vh;
    text-align: center;
    box-shadow: inset 2px 2px white;
}
.landing-2{
    background-image: url(../assets/pc-broken.gif);
    padding-top: 55vh;

}
#design-title{
    display:none;
}
#slide-up-btn{
    height: 15px;
    width: 15px;
    margin: 15px;
    background-color: transparent;
    border: 2px solid black;
    border-radius: 100px;
}


body{
    /*background-image: url(../assets/tokyo-greenery.jpg);*/
    /*background-repeat: no-repeat;*/
    /*background-size: cover;*/
    background-color: #fdddde;
    /*font-family: 'Press Start 2P', cursive;*/
    font-family: "Microsoft Sans Serif"
    height: 100%;
    padding:5px;

}



.main{
    width: 100%;
    position: relative;
    overflow-y: scroll;

}


.col-sm-12, .col-md-8{
    padding: 0px;
}
.scrolling{
    box-shadow: inset 2px 2px white;
    position: relative;
    /*height: 95vh;*/
    overflow: auto;
    background-color: #feddde;
    font-size: 10px;
}
.card-header{
    height: 10px;
    background-color: #5e8a65;
    color: white;
    !important;
}

.card-body{
    border-top: 2px solid white;

    background-color: #c2c7cb;
}
.card{
    border-bottom:  3px outset black;
    border-right: 2px outset black;
    border-left: 2px solid white;
    border-top: 2px solid white;
    margin-bottom: 4px;

    width: 18rem;
    display:inline-block;
}
.card-header{
    padding:2px;
    padding-bottom: 15px;
}
#card-icon{
    height: 75px;
    width: 75px;
}
.div{
    box-shadow: inset 2px 2px white;
    border-bottom: 2px solid black;
    border-right: 2px solid black;
    !important

}

/*RESIZING INDIVIDUAL SECTIONS*/
#about{
    width: 75%;
}
#resume{
    width: 75%;
}
#edu{
    width: 75%;
}

/*CAROUSEL TRANSITION*/
.carousel{
    transition: transform 2s ease, opacity .5s ease-out;
    /*min-height: 100vh;*/
}
/*RESIZES CAROUSEL IMAGES*/
.carousel>.carousel-inner>.carousel-item>img{
    height: 640px;
    width: 360px;
}

/*RESIZES ICONS*/
i{
    font-size: 2rem;
    color: #5e8a65;
}