#steph-avatar{
    height: auto;
    width: 175px;
}
.nav>a:link, .nav>a:visited {
    color: black;
}
.nav-pills > .nav-link.active{
    background-color: transparent;
    border: 1px dotted black;
    border-radius: 25px;
    color: black;
}
.aside{
    margin-left: 25px;
    width: 275px;
    height: 100vh;
    alignment: left;
    background-color: lavenderblush;
    box-shadow: 20px 10px 60px 2px rgba(0,0,0,0.5);
}
.intro{
    text-align: center;
!important;
}


body{
    background-image: url(../assets/orange-floral-banner.jpg);
    font-family: 'Roboto Slab', serif;
    height: 100%;

}



.main{
    height: 100vh;
    width: 100%;
    position: relative;
    overflow-y: scroll;

}


.col-sm-12{
    width: 100%;
}
.scrolling{
    position: relative;
    height: 100vh;
    overflow: auto;
    background-color: rgba(255,240, 245, 0.12);
}
div {
    display: block;
}