
#steph-avatar{
    height: auto;
    width: 175px;
    padding-left: 5px;
    margin-top: 95px;
}
.nav-link{
    /*border: 1px dotted black;*/
    text-align: center;
    font-size: small;
    font-weight: bold;
    /*text-shadow: #cdaaac 1px 1px 1px;*/

}
.nav>a:link, .nav>a:visited {
    color: black;
    padding-left: 15px;
    padding-right: 15px;
    margin: 0px;
}
.nav-pills > .nav-link.active{
    background-color: transparent;
    box-shadow:  1px 1px 3px 3px #cdaaac;
    color: black;
}
#aside{
    margin-left: 25px;
    width: 275px;
    height: 95vh;
    alignment: left;
    background-color: #feddde;
    box-shadow: 1px 1px 50px 1px rgba(0,0,0,0.5);
}
/*************************SPLASHDOWN****************************/
/*GIF CREDIT SASHAKATZ ON TUMBLR*****Sashakatz.tumblr.com*/
.landing {
    background-image: url(../assets/pc-floral.gif);
    padding-top: 70vh;
}

.landing, .landing-2{
    background-repeat: no-repeat;
    background-position: top;
    background-color: #feddde;
    height: 100vh;
    text-align: center;
}
.landing-2{
    background-image: url(../assets/pc-broken.gif);
    padding-top: 55vh;

}
.menu-btn{
    height: 50px;
    width: 50px;
    margin: 15px;
    position:fixed;

}
#design-title{
    display:none;
}
.pagination1, .pagination2{
    height: 15px;
    width: 15px;
    margin: 15px;
    background-color: transparent;
    border: 2px solid black;
    border-radius: 100px;
}


body{
    background-image: url(../assets/tokyo-greenery.jpg);
    font-family: 'Roboto Slab', serif;
    height: 100%;
    padding:5px;

}



.main{
    height: 100vh;
    width: 100%;
    position: relative;
    overflow-y: scroll;

}


.col-sm-12{
    width: 100%;
}
.scrolling{
    position: relative;
    height: 95vh;
    overflow: auto;
    background-color: rgb(255,240, 245);
}
div {
    display: block;
}
/*ANIMATION*/
.come-in {
    transform: translateY(150px);
    animation: come-in 0.8s ease forwards;
}
.come-in:nth-child(odd) {
    animation-duration: 0.6s; /* So they look staggered */
}

@keyframes come-in {
    to { transform: translateY(0); }
}