*{
    font-size: 100%;
    font-family: "Chakra Petch", sans-serif;
    !important;
}
p{
    font-family: "Avenir Next";
    font-size: 16pt;
}
.home.card{
    padding:100px;
}
.card{
    /*min-height: 50vh;*/
    box-shadow: 8px 8px 6px -6px black;

    /*bottom: 25vh;*/
    margin-top:0%;
    border: dashed #2a5056 2px;
    border-radius: 25px;
    background-color: #e3f2fd;
}

.card.projects{
    padding: unset;
}
.skillscon{
    height: 250px;
    width: 250px;
}

.card img {
    height: 250px;
    width: border-box;
    margin-bottom: 5px;
    border-radius: 25px 25px 0 0;
}

.card a {
    width: inherit;
}

/*.one-edge-shadow {*/
    /*box-shadow: 0 8px 6px -6px black;*/
/*}*/


.navbar{
    background-color: #e3f2fd;
}
a span{
    position: relative;
    z-index:1000;
    left:5;
    background-color: yellow;
}
.nav-item{
    margin: 5px;
    border: dashed #2a5056 2px;
    border-radius: 25px;
    text-align: center;
    background-color: #e3f2fd;
}
.home-graphic{
    /*bottom:25vh;*/
    /*float: left;*/
    height: 150px;
    width: 150px;
    right: 10vh;
    position: relative;
    z-index: 1000;
}
body{
    background-color: #97c0e0;
}
.hide{
    display: none;
}


.contact-image{

    width: 50px;
    padding:5px;
    margin:0;
    !important;
}
ul{
    display: flex;
}
li{
    display: block;
}

/* Small devices (tablets, 768px and up) */
@media screen and (min-width:768px) {
    .home-graphic{
        /*bottom:25vh;*/
        /*float: left;*/
        height: 150px;
        width: 150px;
        right: 5vh;
        top: 5vh;
        position: relative;
        z-index: 1000;
    }

    .card {
        /*min-height: 50vh;*/
        top: 10vh;
        bottom: 50vh;
        /*margin-top: 12.5%;*/
    }
}