
body{
   background: url(../assets/bg.jpeg) no-repeat center center fixed; 
   -webkit-background-size: cover;
   -moz-background-size: cover;
   -o-background-size: cover;
   background-size: cover;
}


/*.one-edge-shadow {*/
    /*box-shadow: 0 8px 6px -6px black;*/
/*}*/


/* Small devices (tablets, 768px and up) */
@media screen and (min-width:768px) {
    .home-graphic{
        /*bottom:25vh;*/
        /*float: left;*/
        height: 150px;
        width: 150px;
        right: 5vh;
        top: 5vh;
        position: relative;
        z-index: 1000;
    }

    .card {
        /*min-height: 50vh;*/
        top: 10vh;
        bottom: 50vh;
        /*margin-top: 12.5%;*/
    }
}